@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");

body {
  font-family: "Open Sans";
  background: linear-gradient(
    90deg,
    rgba(2, 38, 56, 1) 0%,
    rgba(121, 9, 111, 1) 51%
  );
}

.title {
  color: #fff;
  font-size: 4rem;
  text-align: center;
  text-decoration: underline;
}

.color-box {
  margin: 4rem auto;
  width: 40%;
  height: 20rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  outline: 5px solid #fff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.color-box div {
  margin: 20px;
  padding: 10px;
  width: 50%;
  height: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  outline: 2px solid #fff;
}

.color-box div h1 {
  font-size: 30px;
  color: #fff;
}

.color-box div i {
  font-size: 30px;
  color: #fff;
  cursor: pointer;
}

.color-box #generate {
  width: 10rem;
  height: 4rem;
  font-size: 20px;
  color: #fff;
  background: transparent;
  cursor: pointer;
  outline: none;
  border: 2px solid #fff;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
